In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_x = pd.read_csv('Training Data/Diabetes_XTrain.csv')
df_y = pd.read_csv('Training Data/Diabetes_YTrain.csv')

In [3]:
df_x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [4]:
df_y.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [5]:
X_train = df_x.values
Y_train = df_y.values

In [6]:
print(X_train.shape)
print(Y_train.shape)

(576, 8)
(576, 1)

In [7]:
#KNN Function

In [8]:
def dist(x1,x2):
    return np.sqrt(sum((x1-x2)**2))

In [9]:
def knn(X,Y,queryPoint,k=5):
    
    vals = []
    m = X.shape[0]
    
    for i in range(m):
        d = dist(queryPoint,X[i])
        vals.append((d,Y[i]))
        
    
    vals = sorted(vals)
    # Nearest/First K points
    vals = vals[:k]
    
    vals = np.array(vals)
    
    #print(vals)
    
    new_vals = np.unique(vals[:,1],return_counts=True)
    #print(new_vals)
    
    index = new_vals[1].argmax()
    pred = new_vals[0][index]
    
    return pred

In [10]:
#Step 3: Make Prediction

In [11]:
X_test = (pd.read_csv('Testing Data/Diabetes_XTest.csv')).values

In [12]:
Y_pred = []
for i in range(len(X_test)):
    pred = knn(X_train,Y_train,X_test[i])
    Y_pred.append(int(pred))

In [29]:
print(Y_pred)

[1 0 0 0 0 1 1 1 0 1 1 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1
 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1
 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 1 1 1 0 0 0
 1 1 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0
 1 0 1 0 1 1 0]

In [21]:
col = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
Y_pred = np.array(Y_pred)

In [23]:
print(X_test.shape)
print(Y_pred.shape)

(192, 8)
(192,)

In [25]:
new_df = pd.DataFrame(X_test,columns=col)
new_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.0,180.0,90.0,26.0,90.0,36.5,0.314,35.0
1,2.0,93.0,64.0,32.0,160.0,38.0,0.674,23.0
2,2.0,114.0,68.0,22.0,0.0,28.7,0.092,25.0
3,13.0,76.0,60.0,0.0,0.0,32.8,0.180,41.0
4,1.0,80.0,74.0,11.0,60.0,30.0,0.527,22.0

In [27]:
new_df['Outcome'] = Y_pred

In [32]:
new_df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.0,180.0,90.0,26.0,90.0,36.5,0.314,35.0,1
1,2.0,93.0,64.0,32.0,160.0,38.0,0.674,23.0,0
2,2.0,114.0,68.0,22.0,0.0,28.7,0.092,25.0,0
3,13.0,76.0,60.0,0.0,0.0,32.8,0.180,41.0,0
4,1.0,80.0,74.0,11.0,60.0,30.0,0.527,22.0,0
5,5.0,137.0,108.0,0.0,0.0,48.8,0.227,37.0,1
6,1.0,153.0,82.0,42.0,485.0,40.6,0.687,23.0,1
7,6.0,98.0,58.0,33.0,190.0,34.0,0.430,43.0,1
8,2.0,92.0,62.0,28.0,0.0,31.6,0.130,24.0,0
9,3.0,111.0,56.0,39.0,0.0,30.1,0.557,30.0,1